<h1>Each box represents a store you shopped at</h1>


<h2>
Enter each store in the box (if you can't remember, submit anyway):
<form action="/budget/check" method="get">
  <% Store.all.each do %>
  <input type="text" name="checker[]" placeholder="Enter a store" />
  <% end %>
  <input type="submit" />
</form>
</h2>

 <%= @checker %>
