<h1>Try to remember where you spent your money</h1>


<h2>
Enter stores you shop at:
<form action="/budget/check" method="post">
  <input type="text" name="checker" placeholder="Enter a store" />
  <input type="submit" />
</form>
</h2>

 <%= @checker %>
