<h1>Addicted to DEALS?!</h1>

<p>In our current marketplace any vulnerability to impulse spenting is being exploided heavily by big business. DEALS DEALS DEALS are everywhere, 70-80-90% off items if you buy NOW! It's very easy to get carried away with your spending if you are not careful. $10 here, $15 there, $20, all these expenses add up but they often go unnoticed because consumers are under the impression you saved $100s of dollars.</p>

<p>That's where "Where's my money" is here to help. "Where's my money" is an application that allows you to create a budget, then try to remember all the purchases you made. By becoming more aware of your impulse spending, and seeing the actual dollar amount that you don't remember spending, you will be able to make more conscience decisions when it comes to purchasing.</p> 
